*::-webkit-scrollbar {
    width: 16px;
}

*::-webkit-scrollbar-track {
    background: transparent;
}
*::-webkit-scrollbar-thumb {
    background-color: #e8772e;
    border-radius: 4px;
    border: 2px solid #ffffff;
}
span {
    user-select: none;
    -webkit-user-drag: none;
}
.ifill {
    font-variation-settings:
    'FILL' 1,
    'wght' 400,
    'GRAD' 0,
    'opsz' 24;
}
.fechado {
    display: none;
}
.fadeIn {
    animation: fadeIn linear .2s;
}
@keyframes fadeIn {
    from {
        opacity: 0;
    }to {
        opacity: 1;
    }
}